	html {
background: #222!important;

}


#login h1 a { 
	display:none!important;
	}


	#login h1 { 
	background-image: url("http://static.cdn.262media.com/stuff/images/logo-website.png") !important;
/*background-size: 109px 125px!important;*/
height: 125px!important;
width: 109px !important;
margin:0 auto;
	}

	body.login {
background: #222!important;
height: 100%!important

}
.login #nav a, .login #backtoblog a {
color: #31F8D2!important;
}
.login #nav, .login #backtoblog {
text-shadow: black 0 1px 0;
}
#nav {text-align: center;}
 #backtoblog{display: none}



 .wp-core-ui .button-primary {
background-color: #21759B;
background-image: -webkit-gradient(linear,left top,left bottom,from(#6CC6AE),to(#6CC6AE));
background-image: -webkit-linear-gradient(top,#6CC6AE,#6CC6AE);
background-image: -moz-linear-gradient(top,#6CC6AE,#6CC6AE);
background-image: -ms-linear-gradient(top,#6CC6AE,#6CC6AE);
background-image: -o-linear-gradient(top,#6CC6AE,#6CC6AE);
background-image: linear-gradient(to bottom,#6CC6AE,#6CC6AE);
border-color: #31F8D2;
border-bottom-color: #6CC6AE;
-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
color: #222;
text-decoration: none;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

 .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus,.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:hover, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary:active {
background: #1B607F;
background-image: -webkit-gradient(linear,left top,left bottom,from(#31F8D2),to(#31F8D2));
background-image: -webkit-linear-gradient(top,#31F8D2,#31F8D2);
background-image: -moz-linear-gradient(top,#31F8D2,#31F8D2);
background-image: -ms-linear-gradient(top,#31F8D2,#31F8D2);
background-image: -o-linear-gradient(top,#31F8D2,#31F8D2);
background-image: linear-gradient(to bottom,#31F8D2,#31F8D2);
border-color: #6CC6AE #6CC6AE #6CC6AE #6CC6AE;
color: rgba(34, 34, 34, 0.95);
-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}